:host {
  //font-family: Roboto, sans-serif;
}

mat-form-field {
  margin-left: 10px;
}

.add-movie--buttons-row {
  display: flex;
  justify-content: center;
}

.add-movie--button {
  margin-left: 10px;
}
